    <div class="panel panel-default">
      <!-- <div class="panel-heading">Producto</div> -->

      <div class="panel-body">

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-4">Marca</th>
              <th class="col-sm-4">Categoria</th>
              <th class="col-sm-4">Tipo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-sm-4">
                {{#power-select options=marcas selected=marca placeholder="Seleccionar" onchange=(action "setMarca") as |marca|}}
                {{marca.texto}}
                {{/power-select}}
              </td>
              <td class="col-sm-4">
                {{#power-select options=categorias selected=categoria placeholder="Seleccionar" onchange=(action "setCategoria") as |categoria|}}
                {{categoria.texto}}
                {{/power-select}}
              </td>
              <td class="col-sm-4">
                {{#power-select options=tipos selected=tipo placeholder="Seleccionar" onchange=(action "setTipo") as |tipo|}}
                {{tipo.texto}}
                {{/power-select}}
              </td>
              <td>
                <a href="#" class="btn btn-primary" role="button" {{action "resetFilter"}}>Limpiar</a>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-sm-4">CODIGO</th>
              <th class="col-sm-8">DESCRIPCION</th>
            </tr>
          </thead>
          <tbody>
            {{#each filteredProductos as |item|}}
            {{#selectable-row data=item selected=selected action='selectProducto'}}
            <td class="col-sm-4">{{item.codigo}}</td>
            <td class="col-sm-8">{{item.texto}}</td>
            {{/selectable-row}}
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>
