<div class="row">
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{#if model.isNew}}Nuevo Producto{{else}}Modificar datos del Producto{{/if}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            {{#app-label text="Descripción" errors=errors.model.texto enable=showError}}
            {{input type="text" value=model.texto class="form-control" placeholder="Descripción" aria-describedby="basic-addon1"}}
            {{/app-label}}

            {{#app-label text="Codigo" errors=errors.model.codigo enable=showError}}
            {{input type="text" value=model.codigo class="form-control" placeholder="codigo" aria-describedby="basic-addon1"}}
            {{/app-label}}

            {{#app-label text="Marca" errors=errors.model.marca enable=showError}}
            {{#power-select options=marcas selected=model.marca placeholder="Seleccionar" onchange=(action "setMarca") as |marca|}}
            {{marca.texto}}
            {{/power-select}}
            {{/app-label}}

            {{#app-label text="Categoria" errors=errors.model.categoria enable=showError}}
            {{#power-select options=categorias selected=model.categoria placeholder="Seleccionar" onchange=(action "setCategoria") as |categoria|}}
            {{categoria.texto}}
            {{/power-select}}
            {{/app-label}}

            {{#app-label text="Tipo" errors=errors.model.tipo enable=showError}}
            {{#power-select options=tipos selected=model.tipo placeholder="Seleccionar" onchange=(action "setTipo") as |tipo|}}
            {{tipo.texto}}
            {{/power-select}}
            {{/app-label}}
          </div>
          <div class="col-xs-6">

            {{talle-producto talles=model.talles producto=model}}
          </div>
        </div>

        {{precio-producto model=model errors=errors showError=showError producto=model}}

      </div>
      <div class="panel-footer text-right">
        <a href="#" class="btn btn-primary" role="button" {{action "save"}}>Guardar</a>
        <a href="#" class="btn btn-default" role="button" {{action "cancel"}}>Cancelar</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
