<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{#if model.isNew}}Nuevo Cliente{{else}}Modificar datos del Cliente{{/if}}
      </div>
      <div class="panel-body">
        <form>
          {{#app-label text="Nombre y Apellido" errors=errors.model.nombre enable=showError}}
          {{input type="text" value=model.nombre class="form-control" placeholder="Nombre y Apellido" aria-describedby="basic-addon1"}}
          {{/app-label}}

          {{#app-label text="Dni" errors=errors.model.dni enable=showError}}
          {{input type="number" value=model.dni class="form-control" placeholder="dni" aria-describedby="basic-addon1" max=99999999}}
          {{/app-label}}

          {{#app-label text="Domicilio" errors=errors.model.domicilio enable=showError}}
          {{input type="text" value=model.domicilio class="form-control" placeholder="domicilio" aria-describedby="basic-addon1"}}
          {{/app-label}}

          {{#app-label text="Teléfono" errors=errors.model.telefono enable=showError}}
          {{input type="text" value=model.telefono class="form-control" placeholder="telefono" aria-describedby="basic-addon1"}}
          {{/app-label}}

          {{#app-label text="Ciudad" errors=errors.model.ciudad enable=showError}}
          {{#power-select options=ciudades selected=model.ciudad placeholder="Seleccionar" onchange=(action "setCiudad") as |ciudad|}}
          {{ciudad.nombre}}
          {{/power-select}}
          {{/app-label}}

          {{#app-label text="Email" errors=errors.model.email enable=showError}}
          {{input type="text" value=model.email class="form-control" placeholder="Email" aria-describedby="basic-addon1"}}
          {{/app-label}}

          {{#app-label text="Fecha Nacimiento" errors=errors.model.fechaNac enable=showError}}
          {{bootstrap-datepicker value=model.fechaNac format="dd/mm/yyyy" class="form-control" placeholder="dd/mm/yyyy" aria-describedby="basic-addon1"}}
          {{/app-label}}          
        </form>
      </div>
      <div class="panel-footer text-right">
        <a href="#" class="btn btn-primary" role="button" {{action "save" model}}>Guardar</a>
        <a href="#" class="btn btn-default" role="button" {{action "cancel"}}>Cancelar</a>
      </div>
    </div>
  </div>
</div>