<div class="panel panel-default">
  <div class="panel-heading">Listado de ventas con pagos pendientes</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-1">FECHA</th>
          <th class="col-xs-2">CLIENTE</th>
          <th class="col-xs-3">PRODUCTO</th>
          <th class="col-xs-2">FORMA DE PAGO</th>
          <th class="col-xs-1">TOTAL</th>
          <th class="col-xs-1">SALDO</th>
          <th class="col-xs-1">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredModel as |item|}}
          <tr>
          <td class="col-xs-1">{{moment-format item.fechaVenta}}</td>
          <td class="col-xs-2">{{item.ficha.cliente.nombre}}</td>
          <td class="col-xs-3">{{item.producto.codigo}} - {{item.producto.texto}}</td>
          <td class="col-xs-2">{{item.formaPago}}</td>
          <td class="col-xs-1">{{format-currency item.totalVenta}}</td>
          <td class="col-xs-1">{{format-currency item.saldo}}</td>
          <td class="col-xs-1">{{#link-to 'clientes.ficha' item.ficha.cliente.id (query-params venta=item.id) classNames="btn btn-default btn-xs"}}Ficha{{/link-to}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
