<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">    
      <ul class="nav navbar-nav navbar-left">
        <li>{{#link-to 'ventas'}}Registrar Venta{{/link-to}}</li>
        <li>{{#link-to 'ventas'}}Cancelar Venta{{/link-to}}</li>
        <li>{{#link-to 'ventas'}}Registrar Cuota{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-primary">
  <div class="panel-heading">Ventas</div>
  <div class="panel-body">
    <table class="table">
    	<thead>
        <tr>
          <th>FECHA VENTA</th>
          <th>CLIENTE</th>
          <th>DNI</th>
          <th>PRODUCTO</th>
          <th>TALLE</th>
          <th>INTERES</th>
          <th>TOTAL VENTA</th>
          <th>SALDO</th>
          <th>FORMA DE PAGO</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
        <tr>
          <td>{{item.fechaVenta}}</td>
          <td>{{item.cliente}}</td>
          <td>{{item.dni}}</td>
          <td>{{item.producto}}</td>
          <td>{{item.talle}}</td>
          <td>{{item.interes}}</td>
          <td>{{item.totalVenta}}</td>
          <td>{{item.saldo}}</td>
          <td>{{item.formaPago}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
